
## executa todos os dias as 06:01, 12:01 e 18:01


01 06,12,18 * * * bash /etc/bkp.sh


###### RENOVAR CERTICADO E ROTACIONAR OS LINK SIMBOLICOS cat /etc/cron.d/certbot

0 */12 * * * root test -x /usr/bin/certbot -a \! -d /run/systemd/system && perl -e 'sleep int(rand(43200))' && certbot -q renew
